@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1rem auto;
  color: var(--ifm-color-gray-100);
  line-height: 1.6;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
